{{#if favorite}}

  {{#if isEditable}}

    <h4>{{ title }}</h4>

    <form {{action 'saveRemindAt' on='submit'}}>
      <label>Remind me on:</label>
      {{date-pickadate date=remindAtBuffer}}

      <div class="controls">
        <button>Save</button>
        <a href="#" {{action 'saveRemindAt'}}>Dismiss</a>
      </div>
    </form>

  {{else}}

    <p>{{reminder-message favorite.remind_at }}</p>
    <button {{action 'setAsEditable'}}>View</button>

  {{/if}}
{{/if}}
