{{#if favorite}}

  {{#if favorite.remind_at}}
    <p>Reminder set for: {{date-moment favorite.remind_at }}</p>
  {{else}}
    <h4>{{ title }}</h4>

    <form {{action 'saveRemindAt' on='submit'}}>
      <label>Remind me on:</label>
      {{date-pickadate date=remindAtBuffer}}

      <div class="controls">
        <button>Save</button>
        <a href="#">Dismiss</a>
      </div>
    </form>
  {{/if}}
{{/if}}
