{{#if favorite}}

  <div class="favorite-reminder alert alert-info {{if isEditable 'is-editable' 'is-readonly'}}" role="alert">
  {{#if isEditable}}
      <button class="close" {{action 'dismissReminder'}}>&times;</button>

      <p><i class="fa fa-clock-o"></i> {{ title }}</p>

      <form {{action 'saveRemindAt' on='submit'}}>

        <div class="input-group">
          {{date-pickadate date=remindAtBuffer}}

          <span class="input-group-btn">
            <button class="btn btn-default">Save</button>
          </span>
        </div>

      </form>

  {{else}}

    <div class="clearfix">
      <i class="fa fa-clock-o"></i> {{reminder-message favorite.remind_at }}
      <button class="pull-right btn btn-primary btn-outline btn-xs" {{action 'setAsEditable'}}>View</button>
    </div>

  {{/if}}
  </div>

{{/if}}
