<div class="simple-login-modal-content modal-content rounded-modal">
  <div class="login-modal-wrapper">
    <h4>{{ title }}</h4>
    {{ yield }}

    <div class="buttons {{if hideCancelButton 'single-button'}}">
      {{#unless hideCancelButton}}
        <button type="button" class="button-dark login-close modal-close">Close</button>
      {{/unless}}

      <button type="button" class="button-blue login-button" {{action 'ok'}}>{{ okLabel }}</button>
    </div>

    <div class="clear"></div>
  </div>
</div>
