<h2>{{#link-to "entries"}}&lt;{{/link-to}} {{ model.title }}</h2>

<button {{action "handleFavoriteToggle" model}}>
  {{#if model.favorite}}Unfavorite{{else}}Favorite{{/if}}
</button>

{{favorite-reminder favorite=model.favorite
                    onSave="handleFavoriteUpdate"}}

{{{ model.content }}}

<ul class="tools">
{{#each tool in model.tools}}
  <li>
    {{ tool.title }}

    {{#if tool.product}}
      <button {{action 'removeProduct' tool.product}}>Remove</button>
    {{else}}
      <button {{action 'addProduct' tool}}>Add</button>
    {{/if}}
  </li>
{{/each}}
</ul>
