<h2>{{#link-to "projects"}}&lt;{{/link-to}} {{ title }}</h2>

<button {{action "handleFavoriteToggle" model}}>
  {{#if model.favorite}}Unfavorite{{else}}Favorite{{/if}}
</button>

{{favorite-reminder favorite=model.favorite
                    onSave="handleFavoriteUpdate"}}

{{{ model.content }}}

<section class="steps">
{{#each step in model.steps}}
  <article class="step">
    <header>
      <h1>{{ step.title }}</h1>
    </header>

    {{{ step.content }}}
  </article>
{{/each}}
</section>

<ul class="products">
{{#each product in model.products}}
  <li>{{ product.title }}</li>
{{/each}}
</ul>


{{#if relatedPost}}
  <div class="pull-left">
    <p class="text-center">Recommended Post</p>
    <img src="{{ relatedPostThumb.url }}">
  </div>
{{/if}}

<div class="pull-left">
  <p class="text-center">Recent Post</p>
  <img src="{{ recentPostThumb.url }}">
</div>
