<h2>{{#link-to 'projects'}}&lt;{{/link-to}} {{ title }}</h2>

<button {{action 'handleFavoriteToggle' this}}>
  {{#if favorite}}Unfavorite{{else}}Favorite{{/if}}
</button>

{{favorite-reminder favorite=favorite onSave='handleFavoriteUpdate'}}

{{{ content.content }}}
