<h2>{{#link-to 'projects'}}&lt;{{/link-to}} {{ title }}</h2>

{{#if favorite}}
  <button {{action 'handleUnfavorite' this}}>Unfavorite</button>
{{ else }}
  <button {{action 'handleFavorite' this}}>Favorite</button>
{{/if}}

{{{ content.content }}}
