<section class="page-index">

  {{#filterable-content}}
    {{#filterable-navigation items=sortedCategories}}
      {{#each sortedCategories as |category|}}
        <span {{action 'selectCategory' category}}
              data-rel="{{ category.id }}"
              class="filter-category {{if category.isSelected 'selected-filter'}}">{{ category.name }}</span>
      {{/each}}
    {{/filterable-navigation}}

    <div class="container has-scroll">
      {{#filterable-items filter=selectedCategory.id items=sortedProjects}}
        {{#each sortedProjects as |project|}}
          {{#link-to 'project' project class=project.categoryIds}}
            <img src="{{ project.image.blog-big.url }}" class="responsive-image" alt="img">
            <h4>{{{ project.title }}}</h4>
          {{/link-to}}
        {{/each}}
      {{/filterable-items}}

      {{infinite-scroll modelName="project" page=currentPage}}
    </div>
  {{/filterable-content}}

</section>
