<section class="page-index">

  {{view 'select' class="form-control entry-filter"
                  content=listOfGroupYears
                  value=selectedGroupYear}}

  <div class="calendar">

    {{#each month in groupedByDate}}
    <div class="month">
      <h4>{{ month.name }}</h4>

      {{#each date in month.dates}}
      <div class="day">
        <div class="date">{{ date.number }}</div>

        <div class="records">
        {{#each entry in date.entries}}

          {{#link-to 'entry' entry class="record"}}
            <p class="title">{{ entry.title }}</p>
            <div class="content">{{{ entry.excerpt }}}</div>
          {{/link-to}}

        {{/each}}
        </div>

      </div>
      {{/each}}

    </div>
    {{/each}}

  </div>

</section>
