<section class="page-index">

  <header>
    {{view 'select' content=listOfGroupYears
                    value=selectedGroupYear}}
    <h1>Almanac</h1>
  </header>

  <div class="months">
    {{#each month in groupedByDate}}
      <p>{{ month.name }}</p>

      <ul class="dates">
      {{#each date in month.dates}}
        <li>
          <p>{{ date.number }}</p>

          <ul class="reminders">
          {{#each entry in date.entries}}
            {{#link-to 'entry' entry tagName="li"}}
              <p>{{ entry.title }}</p>
              {{{ entry.excerpt }}}
            {{/link-to}}
          {{/each}}
          </ul>

        </li>
      {{/each}}
      </ul>
    {{/each}}
  </div>

</section>
