{{view 'select' content=listOfGroupYears
                value=selectedGroupYear}}

<div class="months">
  {{#each month in groupedByDate}}
    <p>{{ month.name }}</p>

    <ul class="dates">
    {{#each date in month.dates}}
      <li>
        <p>{{ date.number }}</p>

        <ul class="reminders">
        {{#each entry in date.entries}}

          <li>
            {{#link-to 'entry' entry }}
              <p>{{ entry.title }}</p>
              {{{ entry.excerpt }}}
            {{/link-to}}
          </li>

        {{/each}}
        </ul>

      </li>
    {{/each}}
    </ul>
  {{/each}}
  </div>
