<section class="page-index">

  <div class="container">
    {{#each model as |location|}}
      <p class="location">
        {{#if location.isNewLocation}}
          <span class="highlighted bg-night-dark color-white">NEW</span>
        {{/if}}

        <strong>{{ location.title }}</strong>

        <a href="maps:q={{ location.encodedAddress }}" target="_blank" class="contact-call">
          <i class="fa fa-map-marker"></i>{{no-br location.address}}
        </a>
        <a href="tel:{{ location.encodedPhone }}" class="contact-call">
          <i class="fa fa-phone"></i>{{ location.phone }}
        </a>
        {{#if location.fax}}
          <a href="tel:{{ location.encodedPhone }}" class="contact-call">
            <i class="fa fa-fax"></i>{{ location.fax }}
          </a>
        {{/if}}

        <span class="text-dark manager">General Manager:</span>
        <span class="text-light manager">{{{ location.generalManager }}}</span>
        <br>

        {{#each location.scheduleCollection as |schedule|}}
          <span class="schedule">
            <span class="days">{{ schedule.days_range }}:</span>
            <span class="hours">{{ schedule.hours_range }}</span>
          </span>
        {{/each}}
      </p>
    {{/each}}
  </div>

</section>
