<div class="page-blog container">

  <div class="page-blog-list">
    <div class="deal-details">
      <aside>
        <div class="boxed">
          <p>{{ model.details }}</p>
          <small>Reg. Price ${{ model.price }}</small>
        </div>
      </aside>

      <img src="{{ model.image }}" class="responsive-image">
    </div>

    <h2 class="page-blog-title">{{ model.title }}</h2>
    <strong class="page-blog-tags">Model Shown: {{ model.modelNumber }}</strong>
    <strong class="page-blog-tags">SKU: {{ model.sku }}</strong>

    <div class="decoration"></div>

    <div class="deal-claim">
      {{#if isElligible}}

        <a href="#" {{action 'handleClaim'}} class="button button-blue button-round button-xl">Claim Koopon</a>
        <small>Offer expires {{ model.endDateFormatted }}</small>

      {{else}}

        <div class="heading-style-5">
          <span class="heading-icon">
            {{advantage-logo}}
          </span>
          <div class="line bg-black"></div>
          <h4 class="heading-title">Become a Koopman Advantage Member</h4>
          <p class="heading-subtitle">This deal is only for Koopman Advantage Members only. Enroll today to receive this deal!</p>
          <a href="#" class="button button-blue button-round">Enroll</a>
        </div>

      {{/if}}
    </div>

    <div class="decoration"></div>

    <div class="page-blog-content">
      <p>{{ model.description }}</p>
    </div>
  </div>

</div>
