<section class="page-index">
{{#if content.length}}

  {{view 'select' class="reminder-filter"
                  content=listOfGroupYears
                  value=selectedGroupYear}}

  <div class="calendar">

    {{#each month in groupedByDate}}
    <div class="month">
      <h4>{{ month.name }}</h4>

      {{#each date in month.dates}}
      <div class="day">
        <div class="date">{{ date.number }}</div>

        <div class="records">
        {{#each reminder in date.reminders}}

          {{#if reminder.entry}}
            {{#link-to 'post' reminder.entry class="record"}}
              <p class="title">{{ reminder.entry.title }}</p>
              <div class="content">{{{ reminder.entry.excerpt }}}</div>
            {{/link-to}}
          {{/if}}

          {{#if reminder.project}}
            {{#link-to 'post' reminder.project class="record"}}
              <p class="title">{{ reminder.project.title }}</p>
              <div class="content">{{{ reminder.project.excerpt }}}</div>
            {{/link-to}}
          {{/if}}

        {{/each}}
        </div>

      </div>
      {{/each}}

    </div>
    {{/each}}

  </div>

{{else}}

  <p class="text-center">Looks like you don&#39;t have any reminders scheduled.</p>

{{/if}}
</section>
