{{!-- main content --}}
<div class="m-pikabu-container">
  <header>
    <h1 class="title">
      {{#if model.routeName}}
        {{#link-to model.routeName class="btn-back"}}<i class="fa fa-angle-left"></i>{{/link-to}}
      {{/if}}

      {{#if model.title}}
        {{model.title}}
      {{else}}
        <img src="assets/images/koopman_logo.png">
      {{/if}}
    </h1>

    <i class="fa fa-bars m-pikabu-nav-toggle" data-role="right"></i>
  </header>

  {{outlet}}
</div>


{{!-- sidebar menu --}}
<div class="m-pikabu-sidebar m-pikabu-right">
  {{partial "navigation"}}
</div>


{{outlet "modal"}}
