<article class="app-view view-cart">

  <section class="page-index">
    {{#if productCollection.length}}

      <ul class="shopping-cart paper-list">
        {{#each product in productCollection}}
          <li>
            <span class="ui-checkbox {{if product.hasAcquired 'is-checked'}}" {{action 'toggleAcquired' product}}>{{ product.name }}</span>
            <button class="btn btn-danger btn-outline btn-sm" {{action 'removeProduct' product}}><i class="fa fa-minus"></i></button>

            {{product-related-posts product=product}}
          </li>
        {{/each}}
      </ul>

      <div class="controls">
        <button class="btn btn-danger btn-outline" disabled={{withoutAcquiredProducts}} {{action 'clearCompleted'}}>Clear Completed</button>
      </div>

    {{else}}

      <p class="text-center">Looks like there aren&#39;t any items in your Shopping List.</p>

    {{/if}}
  </section>

</article>
