<article class="app-view view-cart {{if productCollection.length 'no-margin'}}">

  <section class="page-index">
    {{#if productCollection.length}}
      <nav class="controls">
        <a href="#" {{action 'createCustomItem'}}>
          <i class="fa fa-plus"></i> Add Item
        </a>
        <a href="#" style="{{if withoutAcquiredProducts 'opacity: .2;'}}" {{action 'clearCompleted'}}>
          Clear Completed <i class="fa fa-remove"></i>
        </a>
      </nav>

      <ul class="shopping-cart paper-list">
        {{#each product in productCollection}}
          <li>
            <span class="ui-checkbox {{if product.hasAcquired 'is-checked'}}" {{action 'toggleAcquired' product}}>{{ product.name }}</span>
            <button class="btn btn-danger btn-outline btn-sm" {{action 'removeProduct' product}}><i class="fa fa-minus"></i></button>

            {{#if product.tool}}
              {{product-related-posts product=product}}
            {{else}}
              <p class="custom-entry">Custom Entry</p>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{/if}}


    {{#unless productCollection.length}}
      <div class="container text-center">
        <h5>Shopping List Is Empty</h5>
        <p>Why don&#39;t you <a href="#" {{action 'createCustomItem'}}>add an item</a>?</p>
      </div>
    {{/unless}}
  </section>

</article>
