<section class="page-show post">

  <figure class="post-image">
    <img src="{{if model.image model.image.large.url 'http://lorempixel.com/1024/500/'}}">
  </figure>

  <header>
    <h1>{{{ model.title }}}</h1>
  </header>

  <nav class="actions">
    <div class="btn-group">
      <a href="#" class="btn btn-default" {{action "handleFavoriteToggle" model}}>
        <i class="fa fa-{{if model.favorite 'check' 'plus'}}"></i> Favorite
      </a>

      <a href="#" class="btn btn-default" {{action "showModal" "modal-shopping-list" model}}>
        <i class="fa fa-plus"></i> Shopping List
      </a>

      {{!--
      <a href="#" class="btn btn-default">
        <i class="fa fa-share"></i> Share
      </a>
      --}}
    </div>
  </nav>

  {{favorite-reminder favorite=model.favorite
                      title="Remind me on:"
                      onSave="handleFavoriteUpdate"}}

  <div class="post-body">
    {{{ model.content }}}
  </div>

</section>
