<section class="page-show post">

  {{#if model.image.post-medium }}
    <figure class="post-image">
      <img src="{{model.image.post-medium.url}}">
    </figure>
  {{/if}}

  <div class="container">
    <header>
      <h1>{{{ model.title }}}</h1>
    </header>

    <nav class="actions">
      <div class="btn-group">
        <a href="#" class="btn btn-default" {{action "handleFavoriteToggle" model}}>
          <i class="fa fa-{{if model.favorite 'check' 'star'}}"></i> Favorite
        </a>

        <a href="#" class="btn btn-default" {{action "handleDisplayShoppingList" model}}>
          <i class="fa fa-check-circle-o"></i> Shopping List
        </a>
      </div>
    </nav>

    <div class="post-body">
      {{{ model.content }}}
    </div>
  </div>

</section>
