<article class="app-view view-dashboard">

  <section class="tiles pages">
    <div class="tile">
      {{#link-to 'entries'}}
        <i class="fa fa-calendar"></i>Almanac
      {{/link-to}}
    </div>

    <div class="tile">
      {{#link-to 'projects'}}
        <i class="fa fa-wrench"></i>Projects
      {{/link-to}}
    </div>

    <div class="tile">
      {{#link-to 'cart'}}
        <i class="fa fa-check-square-o"></i>Shopping List
      {{/link-to}}
    </div>

    <div class="tile">
      {{#link-to 'reminders'}}
        <i class="fa fa-clock-o"></i>Reminders
      {{/link-to}}
    </div>
  </section>

  <section class="tiles posts">
    <article class="tile entry">
      <header>
        <h1>Recent Almanac</h1>
      </header>

      {{#link-to 'entry' model.entry tagName='figure'}}
        <img src={{if model.entry.image model.entry.image.post-medium.url 'http://lorempixel.com/180/137/'}}>
        <caption>
          <div class="date">
            <span class="month">{{ model.entry.month }}</span>
            <span class="day">{{ model.entry.day }}</span>
          </div>
          <div class="title">
            {{{ model.entry.title }}}
          </div>
        </caption>
      {{/link-to}}
    </article>

    <article class="tile project">
      <header>
        <h1>Recent Project</h1>
      </header>

      {{#link-to 'project' model.project tagName='figure'}}
        <img src={{ model.project.image.post-medium.url }}>
        <caption>{{{ model.project.title }}}</caption>
      {{/link-to}}
    </article>
  </section>

  <section class="tiles locations">
    <article class="tile full banner">
      {{link-to 'Koopman Locations' 'locations'}}
    </article>
  </section>

  <section class="tiles session">
    <article class="tile full banner">
        <div class="alert alert-info" role="alert">
          <div class="blocks">
            <div class="block">
              <i class="glyphicon glyphicon-user"></i>
            </div>

            {{#if session.isAuthenticated}}

              <div class="block text-center">
                <h4>My Account</h4>
              </div>
              <div class="block text-right">
                {{link-to "View Account" "settings" class="btn btn-primary btn-outline"}}
              </div>

            {{else}}

              <div class="block text-center">
                <h4>Already have an account?</h4>
                {{link-to "Sign In" "login" class="btn btn-primary btn-outline"}}
              </div>

            {{/if}}

          </div>
        </div>
    </article>
  </section>

</article>
