<article class="app-view view-dashboard no-margin">

  {{#slider-items autoplay=false data-snap-ignore="true" margin="2" hasFufilled=model.deals.isFulfilled}}
    {{#each model.deals.content as |deal|}}
      <section class="slider-item" style="background-image: url({{ deal.image }});">
        <div class="container">
          <div class="details">
            <figure></figure>
            <aside>
              <div class="boxed">
                <!-- <p>{{ deal.details }}</p> -->
                <p>Buy One<br>Get One Free</p>
                <small>{{ deal.price }}</small>
              </div>
            </aside>
          </div>

          <header>
            <h3 class="heading-title">{{ deal.title }}</h3>
            <em class="heading-subtitle">{{ deal.modelNumber }}</em>
          </header>
        </div>
      </section>
    {{/each}}
  {{/slider-items}}

  <div class="posts-list">
    {{#link-to 'entries' tagName="div" class="post-header"}}
      Koopman Almanac
      <div class="btn-see-all"></div>
    {{/link-to}}
    <section class="container" style="background-image: url({{ model.entry.image.post-big.url }});">
      {{#if model.entry.isPending}}
        <i class="fa fa-refresh fa-spin"></i>
      {{/if}}

      {{#if model.entry.isFulfilled}}
        {{#link-to 'entry' model.entry (query-params title="Home" redirect="index") tagName="div" class="image-column-right"}}
          <section class="resource-image">
            <i class="fa fa-calendar"></i>
          </section>
          <section class="resource-text">
            <strong>{{{ model.entry.title }}}</strong>
            <div class="from-resource">In <span class="from-resource-text">Koopman Almanac</span><span class="from-resource-date">{{ model.entry.dateFormatted }}</span></div>
          </section>
        {{/link-to}}
      {{/if}}
    </section>

    {{#link-to 'projects' tagName="div" class="post-header"}}
      The Project Book
      <div class="btn-see-all"></div>
    {{/link-to}}
    <section class="container" style="background-image: url({{ model.project.image.post-big.url }});">
      {{#if model.project.isPending}}
        <i class="fa fa-refresh fa-spin"></i>
      {{/if}}

      {{#if model.project.isFulfilled}}
        {{#link-to 'project' model.project (query-params title="Home" redirect="index") tagName="div" class="image-column-right"}}
          <section class="resource-image">
            <i class="fa fa-wrench"></i>
          </section>
          <section class="resource-text">
            <strong>{{{ model.project.title }}}</strong>
            <div class="from-resource">In <span class="from-resource-text">The Project Book</span></div>
          </section>
        {{/link-to}}
      {{/if}}
    </section>
  </div>


  <div class="page-profile">
    {{#if session.isAuthenticated}}
      <div class="page-profile-header container-fullscreen">
        <img src="assets/images/views/dashboard/koopman-advantage-logo.png" class="koopman-advantage-logo">

        {{#if model.membership.isPending}}
          <i class="fa fa-refresh fa-spin"></i>
        {{/if}}

        {{#if model.membership.isFulfilled}}
          <div class="page-profile-followers">

            {{#if model.membership.isAdvantageMember}}
              <a href="#">
                <i class="fa fa-money"></i>
                {{#if model.membership.isPending}}
                  <i class="fa fa-refresh fa-spin"></i>
                {{/if}}
                {{#if model.membership.isFulfilled}}
                  {{ model.membership.loyaltyDollarsFormatted }}
                {{/if}}
              </a>
              <a href="#">
                <i class="fa fa-gift"></i>
                {{#if model.membership.isPending}}
                  <i class="fa fa-refresh fa-spin"></i>
                {{/if}}
                {{#if model.membership.isFulfilled}}
                  {{pluralize model.membership.loyaltyPoints 'Point'}}
                {{/if}}
              </a>
            {{/if}}
          </div>

          <div class="follow-buttons">
            {{link-to 'My Account' 'settings'}}
            {{#unless model.membership.isAdvantageMember}}
              <a href="#">Signup</a>
            {{/unless}}
          </div>
        {{/if}}

        {{#if model.membership.isRejected}}
          <div class="follow-buttons">
            {{link-to 'My Account' 'settings'}}
            <a href="#">Signup</a>
          </div>
        {{/if}}

        <div class="overlay bg-black"></div>
      </div>

    {{else}}

      <div class="page-profile-header container-fullscreen cta-signin">
        <img src="assets/images/views/dashboard/koopman-advantage-logo.png" class="koopman-advantage-logo">
        <div class="follow-buttons">
          {{link-to 'Sign In' 'login'}}
        </div>
        <div class="overlay bg-black"></div>
      </div>

    {{/if}}

    <div class="decoration"></div>
  </div>

</article>
