<article class="app-view view-login">
{{#if session.isAuthenticated}}

  <div class="alert alert-success" role="alert">
    You have signed in as <strong>{{identification}}</strong>
  </div>

{{else}}

  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  {{/if}}

  <form {{action 'authenticate' on='submit'}}>
    <section class="information-signin">
      <div class="form-group">
        <label for="identification">Email Address</label>
        {{input value=identification class="form-control"}}
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        {{input value=password type="password" class="form-control"}}
      </div>
    </section>

    <hr>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
    </div>

    <hr>

    <section class="cta-signup well">
      <div class="blocks">
        <div class="block">
          <h4>Don&#39;t have an account?</h4>
        </div>

        <div class="block content-right">
          {{link-to "Sign Up" "registration" class="btn btn-danger btn-outline"}}
        </div>
      </div>
    </section>
  </form>



{{/if}}
</article>
