{{#if session.isAuthenticated}}

You have signed in as {{identification}}

{{else}}
  <h3>Sign In</h3>

  <form {{action 'authenticate' on='submit'}}>
    <div class="form-group">
      <label for="identification">Login</label>
      {{input value=identification placeholder='Enter Login'}}
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      {{input value=password placeholder='Enter Password' type='password'}}
    </div>

    <button type="submit">Login</button>
  </form>

  <hr>

  <span>
    Don&#39;t have an account?
  </span>

  {{#link-to "registration"}}Sign Up{{/link-to}}

{{/if}}
