<section class="page-show post">

  <figure class="post-image">
    <img src="{{ model.image.large.source_url }}">
  </figure>

  <div class="container">
    <header>
      <h1>{{{ model.title }}}</h1>
    </header>

    <nav class="actions">
      <div class="btn-group">
        <a href="#" class="btn btn-default" {{action "handleFavoriteToggle" model}}>
          <i class="fa fa-{{if model.favorite 'check' 'star'}}"></i> Favorite
        </a>

        <a href="#" class="btn btn-default" {{action "handleDisplayShoppingList" model}}>
          <i class="fa fa-check-circle-o"></i> Shopping List
        </a>
      </div>
    </nav>

    <div class="post-body">
      <section class="post-attributes">
        {{#if model.seriesTitle}}
          <dl>
            <dt>Blog Series:</dt>
            <dd>{{{ model.seriesTitle }}}</dd>
          </dl>
        {{/if}}

        {{#if model.hasMultipleParts}}
          {{#if model.seriesPartNumber}}
            <dl>
              <dt>Part {{ model.seriesPartNumber }}:</dt>
              <dd>{{ model.seriesPartTitle }}</dd>
            </dl>
          {{/if}}
        {{/if}}

        {{#if model.seriesPartDifficulty}}
          <dl>
            <dt>Difficulty:</dt>
            <dd>{{ model.seriesPartDifficulty }}</dd>
          </dl>
        {{/if}}

        {{#if model.seriesPartEstimateTime}}
          <dl>
            <dt>Time:</dt>
            <dd>{{{ model.seriesPartEstimateTime }}}</dd>
          </dl>
        {{/if}}

        {{#if model.seriesAttributes}}
          {{#each attr in model.seriesAttributes}}
            <dl>
              <dt>{{ attr.attribute_name }}:</dt>
              <dd>{{ attr.attribute_value }}</dd>
            </dl>
          {{/each}}
        {{/if}}
      </section>

      {{{ model.content.rendered }}}

      {{{ model.seriesCautionStatement }}}

      <section class="steps">
      {{#each model.steps as |step|}}

        <article class="step">
          <header>
            <h1>{{{ step.title }}}</h1>
          </header>

          <div class="step-content">
            {{{ step.content }}}
          </div>
        </article>

      {{/each}}
      </section>

      <section class="wrap-up">
        <h3>Wrap Up</h3>
        {{{ model.wrapUp }}}
      </section>
    </div>
  </div>

</section>
