<section class="page-show post">

  <figure class="post-image">
    <img src="{{ model.image.large.url }}">
  </figure>

  <header>
    <h1>{{{ model.title }}}</h1>
  </header>

  <nav class="actions">
    <div class="btn-group">
      <a href="#" class="btn btn-default" {{action "handleFavoriteToggle" model}}>
        <i class="fa fa-{{if model.favorite 'check' 'plus'}}"></i> Favorite
      </a>

      <a href="#" class="btn btn-default" {{action "showModal" "modal-shopping-list" model}}>
        <i class="fa fa-plus"></i> Shopping List
      </a>

      {{!--
      <a href="#" class="btn btn-default">
        <i class="fa fa-share"></i> Share
      </a>
      --}}
    </div>
  </nav>

  {{favorite-reminder favorite=model.favorite
                      title="Remind me on:"
                      onSave="handleFavoriteUpdate"}}

  <div class="post-body">
    <section class="post-attributes">
      {{#if model.seriesTitle}}
        <dl>
          <dt>Blog Series:</dt>
          <dd>{{ model.seriesTitle }}</dd>
        </dl>
      {{/if}}

      {{#if model.hasMultipleParts}}
        {{#if model.seriesPartNumber}}
          <dl>
            <dt>Part {{ model.seriesPartNumber }}:</dt>
            <dd>{{ model.seriesPartTitle }}</dd>
          </dl>
        {{/if}}
      {{/if}}

      {{#if model.seriesPartDifficulty}}
        <dl>
          <dt>Difficulty:</dt>
          <dd>{{ model.seriesPartDifficulty }}</dd>
        </dl>
      {{/if}}

      {{#if model.seriesPartEstimateTime}}
        <dl>
          <dt>Time:</dt>
          <dd>{{ model.seriesPartEstimateTime }}</dd>
        </dl>
      {{/if}}

      {{#if model.seriesAttributes}}
        {{#each attr in model.seriesAttributes}}
          <dl>
            <dt>{{ attr.attribute_name }}:</dt>
            <dd>{{ attr.attribute_value }}</dd>
          </dl>
        {{/each}}
      {{/if}}
    </section>

    {{{ model.content }}}

    {{{ model.seriesCautionStatement }}}

    <section class="steps">
    {{#each step in model.steps}}

      <article class="step">
        <header>
          <h1>{{ step.title }}</h1>
        </header>

        <div class="step-content">
          {{{ step.content }}}
        </div>
      </article>

    {{/each}}
    </section>

    <section class="wrap-up">
      <h3>Wrap Up</h3>
      {{{ model.wrapUp }}}
    </section>
  </div>


  {{!--
  <div class="content-related">
    <div class="col-xs-12">
      <h4>Related Content</h4>
    </div>

    {{#if relatedPost}}
      <div class="col-xs-6">
        <div class="thumbnail">
          <div class="caption text-center">Recommended</div>
          <img src="{{ relatedPostThumb.url }}">
        </div>
      </div>
    {{/if}}

    <div class="{{if relatedPost 'col-xs-6' 'col-xs-12'}}">
      <div class="thumbnail">
        <div class="caption text-center">Recent Post</div>
        <img src="{{ recentPostThumb.url }}">
      </div>
    </div>
  </div>
  --}}

</section>
