<article class="app-view view-registration no-margin">
{{#unless session.isAuthenticated}}

  <form {{action 'register' on='submit'}}>

    <div class="pageapp-login bg-5 cover-screen">
      <div class="pageapp-login-content cover-center">
        <div class="unboxed-layout">
          <div class="pageapp-login-logo"></div>

          {{#if errors}}
            <div class="static-notification bg-red-dark tap-dismiss">
              <p><i class="fa fa-times"></i>Please correct the following {{pluralize errorsCollection.length 'error'}} below:</p>

              <ul>
                {{#if errors.email }}
                  {{#each message in errors.email}}
                    <li class="help-block">Email {{ message }}</li>
                  {{/each}}
                {{/if}}

                {{#if errors.password }}
                  {{#each message in errors.password}}
                    <li class="help-block">Password {{ message }}</li>
                  {{/each}}
                {{/if}}

                {{#if errors.password_confirmation }}
                  {{#each message in errors.password_confirmation}}
                    <li class="help-block">Password Confirmation {{ message }}</li>
                  {{/each}}
                {{/if}}
              </ul>
            </div>
          {{/if}}

          <div class="pageapp-login-field">
            <i class="fa fa-user"></i>
            {{input value=email type="email" placeholder="Email Address"}}
          </div>

          <div class="pageapp-login-field">
            <i class="fa fa-lock"></i>
            {{input value=password type="password" placeholder="Password"}}
          </div>

          <div class="pageapp-login-field">
            <i class="fa fa-lock"></i>
            {{input value=password_confirmation type="password" placeholder="Re-Enter Password"}}
          </div>

          <button class="pageapp-login-button button button-small button-blue button-round button-fullscreen">Create Account</button>

          <div class="decoration"></div>

          {{#link-to "login" class="login-create"}}
            <i class="fa fa-user"></i>Sign In
          {{/link-to}}

        </div>
      </div>
      <div class="overlay bg-black"></div>
    </div>

  </form>

{{/unless}}
</article>
