<article class="app-view view-registration">
{{#if session.isAuthenticated}}

  <div class="alert alert-success" role="alert">
    You have just registered as <strong>{{email}}</strong>
  </div>

{{else}}

  <form {{action 'register' on='submit'}}>
    <section class="information-signin">
      <div class="form-group">
        <label for="email">Email</label>
        {{input value=email class="form-control"}}
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        {{input type="password" value=password class="form-control"}}
      </div>

      <div class="form-group">
        <label for="password_confirmation">Password Confirmation</label>
        {{input type="password" value=password_confirmation class="form-control"}}
      </div>
    </section>

    <hr>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Create Your Account</button>
    </div>

    <hr>

    <section class="cta-signin well">
      <div class="blocks">
        <div class="block">
          <h4>Already have an account?</h4>
        </div>

        <div class="block content-right">
          {{#link-to "login" class="btn btn-primary btn-outline"}}Sign In{{/link-to}}
        </div>
      </div>
    </section>
  </form>

{{/if}}
</article>
